
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Online Burger Ordering!</title>
    <meta charset="utf-8"/>
</head>
<body>
<h1>Välkommen till BurgerOnline</h1>
    <h3>Choose a burger!</h3>
        <p>Pick a burger you would like to order.</p>
        <img src="https://images.ctfassets.net/sd2voc54sjgs/5L6livQvCw28S04IUSAcm6/ebdbf21e81866fc034386ca5400ac530/Blog_Header_Hamburger_History_Option.png?fm=jpg&q=80&fl=progressive&w=1100"
             alt="Burger1" title ="Burger1" width="220">
            <ul><li>Burger with fried onion, lettuce and cheese</li>
                <li>Not Vegetarian</li>
                <li>Gluten-free</li>
                <li>775 kCal</li>

            </ul>
            <h3>Delivery information:</h3>
        <p>Please enter your credentials so we can deliver your burger</p>
</body>
</html>