body {
    font-family: Arial;
    font-size: 110%;
}

.Gluten {
    color: #ff5500;
    font-weight: bold;
    margin-left: initial;
    padding: initial;

}

#burgerPicker {
    margin: 20px auto;
    background: black;
    color: white;
    width: 97%;
    border: white 2px dashed;

}

#BurgerTable td {
    text-align: center;
    vertical-align: middle;

}

#contact {

}

#purchase {
    margin: 10px;
}

button:hover {

    color: aqua; /*doesnt actually do anything */
    cursor: grab;
}

section {
    margin-left: 15px;
    margin-bottom: 10px;
    border: 2px dashed black;
    padding: 10px;

}

#headerImg {

    width: 100%;
    opacity: 70%;
    position: relative;
    bottom: 20px;

}

#headertext {
    position: relative;
    top: 60px;
    left: 150px;
    z-index: 2;
}

#header {
    border: none;
    margin-left: 20px;

}

/*Lite förvirrad med instruktionerna, fick inte backgrundsbilden helt "aligned" med resten men fortsätter ändå*/

.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto;
    justify-items: center;
}
/*
.a {
    column: 1 /span 5;
    row: 1;
}

.b {
    column: 1/span 5;
    row: 2;
}

.c {
    column: 1 /span 5;
    row: 3;
}*/

#burgerImg {
    height: 200px;
    width: 300px;
}
body {
    margin: 0;
    padding: 0;
}

.view-box {
    width: 90%;
    height: 50vh;
    margin: 1em auto;
    overflow: scroll;
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}
#dots {
    position: relative;
    margin: 0;
    padding: 0;
    background: url(/img/polacks.jpg) no-repeat;
    width:1920px;
    height: 1078px;
    cursor: crosshair;
}

#dots div {
    position: absolute;
    background: black;
    color: white;
    border-radius: 10px;
    width:20px;
    height:20px;
    text-align: center;
}

#orderList {
    top:1em;
    left:1em;
    position: absolute;
    z-index: 2;
    color:black;
    background: rgba(255,255,255, 0.5);
    padding: 1em;
}
#purchase{
    padding:0;
}