body {
    font-family: Arial;
    font-size: 110%;
}
.Gluten {
    color: #ff5500;
    font-weight: bold;
    margin-left: initial;
}
#BurgerTable{
    margin: 0 auto;
    background: black;
    color: white;
    width: 80%;
}
#BurgerTable td{
    text-align: center;
    vertical-align: middle;
}

#contact{

    }
#purchase{
    margin: 10px;
}

button:hover {

    color: aqua; /*doesnt actually do anything */
    cursor: grab;
}

section{
    margin-left: 15px;
    margin-bottom: 10px;
    border: 2px dashed black;
    padding: 20px;

}
#headerImg{

    width: 100%;
    opacity: 70%;
}

#header{
    border: none;
    margin-left: 20px;
} /*Lite förvirrad med instruktionerna, bestämde att lägga bakgrunden i css.*/
